// https://www.google.com/fonts#UsePlace:use/Collection:Titillium+Web
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900,600,300,200);

html {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 62.5%;
}

.uppercase {
  text-transform: uppercase;
}
.ta-bold {
  font-weight: bold;
}
.ta-center {
  text-align: center;
}