@mixin font-size($value: 1.6) {
	font-size: ($value*10) + px;
	font-size: $value + rem;
}

@mixin perfect-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin rounded($radius: 0.5em) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin gradient($from, $to) {
	background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background: -moz-linear-gradient(top,  $from, $to);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
}

@mixin breakpoint($width) {
	@media only screen and (max-width: $width+px) {
		@content;
	}
}

@mixin breakpoint1366() {
	@media only screen and (max-width:1366px) and (max-height:768px) {
		@content
	}
}