$mobile-break1:600;

body {
	position: relative;
	background: #000;
	height: 100vh;
	overflow: hidden;
	color: #FFF;

	@include breakpoint($mobile-break1) {
		overflow: visible;
	}
}

header {
	text-align: center;
	font-family: $header-font;
	text-align: center;
	position: relative;

	.wrapper {
		margin-bottom: 60px;

		@include breakpoint($mobile-break1) {
			margin: 60px 0;
			text-align: center;
		}
	}

	h1.tdm-title {
		@include font-size(3.8);
		word-spacing: -1rem;

		.t-thin {
			font-weight: 300;
		}

		.t-bold {
			font-weight: 700;
		}
	}

	h2.tdm-subtitle {
		@include font-size(1.2);
		font-weight: 300;
		line-height: 1.2rem;
		position: relative;
		display: block;
		margin: 0 auto;
		
		span {
			&:before,&:after {
				content: " ";
				display: inline-block;
				position: relative;
				background: $tdm-orange;
				width: 9px;
				height: 5px;
				vertical-align: 25%;
				margin: 0 4px;
			}
		}
	}
}

section {
	@include font-size(1.6);
	font-weight: 200;
	letter-spacing: .1px;

	.wrapper {
		max-width: 520px;
		
		@include breakpoint($mobile-break1) {
			padding: 0 10px;
		}

	}
}

p {
	margin-bottom: 20px;
	line-height: 2.5rem;
}

svg.tdm-pulsing-circle {
	@include perfect-center();
	position: fixed;
	z-index: -1;
  max-width: 900px;
  background: url(../images/svg/phoenix.svg) 50% 56% no-repeat #000;
	background-size: 68%;

	@include breakpoint($mobile-break1) {
		opacity: .5;
	}
}

.message-wrapper {
	@include perfect-center();
	width: 100%;
	top: 45%;

	@include breakpoint($mobile-break1) {
		transform: none;
		top: initial;
		left: initial;
	}

	.featurelet {
		position: absolute;
		@include font-size(1.4);
		text-align: center;
		padding: 18px 20px;
		box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
		font-weight: 700;
		width: 200px;
		background: rgba(255,255,255,0.3);
		color: #000;

		@include breakpoint($mobile-break1) {
			display: none;
		}

		&.dz {
			top: -12%;
			left: -30%;
		}

		&.tracking {
			top: 0%;
			right: -50%;
		}

		&.bosses {
			bottom: -11%;
			left: -45%;
		}

		&.encounters {
			bottom: -20%;
			right: -35%;
		}
	}

	.social-net-icons {
		margin-top: 2rem;

		@include breakpoint($mobile-break1) {
			margin-top: 4rem;
		}

		a:after {
			@include breakpoint($mobile-break1) {
				@include font-size(5.8);
			}
		}
	}

	a.email-signup {
		@include breakpoint($mobile-break1) {
			@include font-size(1.8);
		}
	}
	
}

.wrapper {
	position: relative;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}