<svg viewBox="0 0 768 768" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" class="tdm-pulsing-circle">
	<!-- Generator: sketchtool 3.5.1 (25234) - http://www.bohemiancoding.com/sketch -->
	<title>CIRCLE GLOW</title>
	<desc>Created with sketchtool.</desc>
	<defs>
		<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
			<feOffset dx="0" dy="-10" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
			<feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
			<feColorMatrix values="0 0 0 0 1   0 0 0 0 0.42745098   0 0 0 0 0.062745098  0 0 0 0.7 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
			<feMerge>
				<feMergeNode in="shadowMatrixOuter1"></feMergeNode>
				<feMergeNode in="SourceGraphic"></feMergeNode>
			</feMerge>
			<feGaussianBlur stdDeviation="4" in="SourceGraphic" result="blur"></feGaussianBlur>
		</filter>
		<filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
			<feGaussianBlur stdDeviation="3" in="SourceGraphic" result="blur"></feGaussianBlur>
		</filter>
	</defs>
	<g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		<g id="Desktop-HD" sketch:type="MSArtboardGroup" transform="translate(-336.000000, -118.000000)">
			<g id="CIRCLE-GLOW" sketch:type="MSLayerGroup" transform="translate(370.000000, 162.000000)">
				<circle class="pulser" id="circle-glow-dark-orange" stroke="#FF6D10" stroke-width="20" filter="url(#filter-1)" sketch:type="MSShapeGroup" cx="350" cy="350" r="350"></circle>
				<circle class="pulser" id="circle-glow-light-orange" stroke="#FFB052" stroke-width="2" filter="url(#filter-2)" sketch:type="MSShapeGroup" cx="350" cy="350" r="338.333333"></circle>
			</g>
		</g>
	</g>
</svg>