mixin tdm-title
	h1.tdm-title
		span.t-thin.uppercase The Division 
		span.t-bold.uppercase.tc-orange Map

mixin tdm-subtitle
	h2.tdm-subtitle
		span.uppercase The Official, Unofficial The Division Map