div.message-wrapper
	header
		div.wrapper
			mixin tdm-title
			mixin tdm-subtitle
	section.ta-center
		div.wrapper
			p
				|Welcome to the official, unofficial The Division Map!
			p 
				|Unfortunately, we’re still under construction at the moment, but we hope to soon fill this space with a truly interactive map for Ubisoft’s The Division. We’re currently toiling hard to bring you a map with 
				span.ta-bold refresh timers for the Dark Zone’s chests and bosses, filters for map markers, 
				|and 
				span.ta-bold real-time community tracking. 
				|Players and members of the community will have the ability to 
				span.ta-bold mark new discoveries 
				|on the map, post when and how often they 
				span.ta-bold encountered events 
				|, and 
				span.ta-bold vote 
				|to corroborate the claims of fellow community members.
			p
				|With time, and the help of dedicated fans, we hope to create a site that can operate as a true hub for the community, allowing players to share discoveries and discuss The Division with other, like-minded fans. Keep checking this space for future updates!
include pulsingcircle.html

