.message-wrapper
	header
		div.wrapper
			mixin tdm-title
			mixin tdm-subtitle
	section.ta-center
		.wrapper
			p
				|Welcome to the official, unofficial The Division Map!
			p 
				|Unfortunately, we’re still under construction at the moment, but we hope to soon fill this space with a truly interactive map for Ubisoft’s The Division. We’re currently toiling hard to bring you a map with 
				span.t-bold refresh timers for the Dark Zone’s chests and bosses, filters for map markers, 
				|and 
				span.t-bold real-time community tracking. 
				|Players and members of the community will have the ability to 
				span.t-bold mark new discoveries 
				|on the map, post when and how often they 
				span.t-bold encountered events 
				|, and 
				span.t-bold vote 
				|to corroborate the claims of fellow community members.
			p.mb-5rem
				|With time, and the help of dedicated fans, we hope to create a site that can operate as a true hub for the community, allowing players to share discoveries and discuss The Division with other, like-minded fans. Keep checking this space for future updates!
			a.email-signup(href="//www.surveymonkey.com/r/JVVD3P2" target="_blank")
				span Interested?<br>Sign up for e-mail notificaiton once we launch.<br>(We promise not to spam)!
			div.social-net-icons
				a.twitter(href="https://twitter.com/TheDivisionMap" target="_blank")
			.dz.featurelet.uppercase
				span Dark Zone's Chests
			.tracking.featurelet.uppercase
				span Real-Time Tracking
			.bosses.featurelet.uppercase
				span Bosses
			.encounters.featurelet.uppercase
				span Encounters
include pulsingcircle.html
canvas#glitchPhoenix