@mixin font-size($value: 1.6) {
	font-size: ($value*10) + px;
	font-size: $value + rem;
}

@mixin perfect-center() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin breakpoint($device,$orientation...) {
	@if $device == 'iphone6' {
		@if $orientation == 'all' {
			@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) {
				@content;
			}
		}
		@else if $orientation == 'portrait' {
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2){
				@content;
			}
		}
		@else if $orientation == 'landscape' {
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
				@content;
			}
		}
	}
	@else if $device == 'iphone6+' {
		@if $orientation == 'portrait' {
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3){
				@content;
			}
		}
		@else if $orientation == 'landscape' {
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
				@content;
			}
		}
	}
	
}